{% extends "base.html" %}
{% block content %}
    <form action="/result" method="get"> 
    	<div class = "form-group">
			<h2 for = "location">Choose location:</h2><br>
			<input name="Location" type="checkbox" value="UD" style="width: 28px; height: 28px;" />
				<font size="5"> U District</font><br>
			<input name="Location" type="checkbox" value="UV" style="width: 28px; height: 28px;" />
				<font size="5"> U Villiage</font><br>
			<input name="Location" type="checkbox" value="45" style="width: 28px; height: 28px;" />
				<font size="5"> 45th st</font><br>
			<input name="Location" type="checkbox" value="Bellevue" style="width: 28px; height: 28px;" />
				<font size="5"> Bellevue</font><br>
			<input name="Location" type="checkbox" value="CT" style="width: 28px; height: 28px;" />
				<font size="5"> China town</font><br>
			<input name="Location" type="checkbox" value="DT" style="width: 28px; height: 28px;" />
				<font size="5"> Downtown</font><br>
			<input name="Location" type="checkbox" value="Amazon" style="width: 28px; height: 28px;" />
				<font size="5"> Amazon Campus</font>
		</div>
		<button type="submit" class="btn btn-primary">pick</button>
	</form>
{% endblock %}