{% extends "base.html" %}
{% block content %}
    <form action="/result" method="get"> 
    	<div class = "form-group">
			<h3>Choose location:</h3>
			<input name="Location" type="checkbox" value="UD"/>
				U District<br>
			<input name="Location" type="checkbox" value="UV"/>
				U Villiage<br>
			<input name="Location" type="checkbox" value="45"/>
				45th st<br>
			<input name="Location" type="checkbox" value="Bellevue"/>
				Bellevue<br>
			<input name="Location" type="checkbox" value="CT"/>
				China town<br>
			<input name="Location" type="checkbox" value="DT"/>
				Downtown<br>
			<input name="Location" type="checkbox" value="Amazon"/>
				Amazon Campus<br>
			<input name="Location" type="checkbox" value="New"/>
				New places
		</div>
		<button type="submit" class="btn btn-primary">pick</button>
	</form>
{% endblock %}